# Variables

In [1]:
a = 10
print(a)

10

# Identifier naming rules

```A-Z,a-z,0-9 but shud not start with a number
except _ no other special chars are allowd, it does start with _
names should not be a keyword
```

# Keywords

predefined words

In [2]:
import keyword
print(keyword.kwlist)
print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

# Basic input/output in Python

In [3]:
print("Hello MMCOE")

Hello MMCOE

# Datatypes

```
int
float
str
bool
complex
None
```

In [4]:
a = 10
type(a)

int

In [5]:
a = 20.3
type(a)

float

anything that is within '' or ""

In [6]:
s = "Good morning"
type(s)

str

In [7]:
s = """hello
good morning
bye"""
print(s)

hello
good morning
bye

In [8]:
a = True
type(a)

bool

In [9]:
a = 2+3j
type(a)

complex

In [10]:
a = None
type(a)

NoneType

# Typecasting

In [11]:
a = '10'
a = int(a)
a

10

In [12]:
type(a)

int

In [13]:
a = "name"
int(a)

ValueError: invalid literal for int() with base 10: 'name'

In [14]:
a = -10
a = bool(a)
a

True

In [15]:
a = 0
a = bool(a)
a

False

# WAP to print the given poetry

```
Johnny, Johnny. Yes Papa!
    Eating Sugar. No Papa...
        Telling Lie// No papa
Open Your monuth. HaHaHa
```

In [16]:
print("""Johnny, Johnny. Yes Papa!
    Eating Sugar. No Papa...
        Telling Lie// No papa
Open Your monuth. HaHaHa""")

Johnny, Johnny. Yes Papa!
    Eating Sugar. No Papa...
        Telling Lie// No papa
Open Your monuth. HaHaHa

# WAP to find the area of the circle

In [17]:
radius = float(input("Enter the radius : "))
print("Area of the circle is : ",3.14*radius*radius)
radius = float(input("Enter the radius : "))
print("Area of the circle is : ",3.14*radius*radius)

Enter the radius : 4
Area of the circle is :  50.24
Enter the radius : 7.5
Area of the circle is :  176.625

# Formatiing outputs

In [18]:
radius = float(input("Enter the radius : "))
print("Area of the circle with radius {} is : {}".format(radius,3.14*radius*radius))

Enter the radius : 4
Area of the circle with radius 4.0 is : 50.24

In [19]:
radius = float(input("Enter the radius : "))
print(f"Area of the circle with radius {radius} is : {3.14*radius*radius}")

Enter the radius : 6
Area of the circle with radius 6.0 is : 113.03999999999999

# Operators

```
Mathematical 
Logical
relational
bitwise
Special operators
```

#### Mathematical operators


```
+
-
*
/
%
//
**
```

In [20]:
10/3

3.3333333333333335

In [21]:
10%3

1

In [22]:
10//3

3

In [23]:
2**3

8

#### Logical

```
and
or 
not
```

#### Relational

```
<
<=
>
>=
==
!=
```

In [24]:
a = 10
b = True
bool(a)==b

True

#### Bitwise operators

```
&  - Bitwise AND
|  - Bitwise OR
^  - Bitwise EXOR
<< - Left shift
>> - Rigth shift
```

In [25]:
20&56

16

In [26]:
bin(20)

'0b10100'

In [27]:
bin(56)

'0b111000'

In [28]:
hex(20)

'0x14'

In [29]:
oct(20)

'0o24'

In [30]:
0o24

20

In [31]:
0x14

20

In [32]:
8<<1

16

In [33]:
8<<2

32

In [34]:
32>>1

16

In [35]:
32>>3

4

# Strings

In [36]:
journey = "Mumbai to Goa"

### String methods

In [37]:
journey.capitalize()

'Mumbai to goa'

In [38]:
journey.upper()

'MUMBAI TO GOA'

In [39]:
journey.lower()

'mumbai to goa'

In [40]:
journey.endswith('a')

True

In [41]:
journey.endswith('A')

False

In [42]:
journey.count('a')

2

In [43]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [44]:
len(journey)

13

In [45]:
s1 = journey.ljust(25)
s1

'Mumbai to Goa            '

In [46]:
s2 = journey.rjust(30)
s2

'                 Mumbai to Goa'

In [47]:
s3=journey.center(30)
s3

'        Mumbai to Goa         '

In [48]:
s1.rstrip()

'Mumbai to Goa'

In [49]:
s2.lstrip()

'Mumbai to Goa'

In [50]:
s3.strip()

'Mumbai to Goa'

In [51]:
journey.encode()

b'Mumbai to Goa'

In [52]:
pi = "\u03C0"
pi

'π'

In [53]:
en = pi.encode()
en

b'\xcf\x80'

In [54]:
en.decode()

'π'

In [55]:
journey.replace("M","%")

'%umbai to Goa'

In [56]:
name = "MMCOE"
" ".join(name)

'M M C O E'

In [57]:
account_no = '123456'
account_no.zfill(14)

'00000000123456'

# String operations

```
+ - concatenation
* - replication
```

# WAP to add 2 numbers

In [58]:
num1 = float(input("Enter number 1: "))
num2 = float(input("Entre number 2: "))
num1+num2

Enter number 1: 2
Entre number 2: 5

7.0

In [59]:
name = 'abc'
surname = 'xyz'
name+" " +surname

'abc xyz'

In [60]:
name*3

'abcabcabc'

In [61]:
name = "Python"
name[0]

'P'

In [62]:
name[-1]

'n'

In [63]:
name[3]

'h'

In [64]:
name[0:2]

'Py'

In [65]:
name[:4]

'Pyth'

In [66]:
name[::1]

'Python'

In [67]:
name[::2]

'Pto'

### WAP to reverse the string

In [68]:
name = input("enter the string: ")
print(f"The reverese of {name} is {name[::-1]}")

enter the string: bhavika
The reverese of bhavika is akivahb

In [69]:
# Strings are immutable
s = "Youtube"
s[:3] = "My"

TypeError: 'str' object does not support item assignment

# Datastructures

### List

```
created using []
list indexing is same as string indexing
list are mutable
```

In [70]:
nums = [10,15,89,78,45,65,'a',True,2.31]
print(type(nums))

<class 'list'>

In [71]:
nums[0]

10

In [72]:
nums[-1]

2.31

In [73]:
nums[::-1]

[2.31, True, 'a', 65, 45, 78, 89, 15, 10]

In [74]:
nums[0] = 111
nums

[111, 15, 89, 78, 45, 65, 'a', True, 2.31]

In [75]:
nums.append(15)

In [76]:
nums

[111, 15, 89, 78, 45, 65, 'a', True, 2.31, 15]

In [77]:
nums.insert(2,22)
nums

[111, 15, 22, 89, 78, 45, 65, 'a', True, 2.31, 15]

In [78]:
nums.extend([10,20,30,40,50])
nums

[111, 15, 22, 89, 78, 45, 65, 'a', True, 2.31, 15, 10, 20, 30, 40, 50]

### Tuple

In [79]:
salary = [1000,2000,3000]

In [80]:
salary[0]

1000

In [81]:
salary[0] = 100

In [82]:
salary

[100, 2000, 3000]

```
Created using ()
immutable
indexing is same as list
```

In [83]:
salary = (1000,2000,3000)
salary[0]

1000

In [84]:
salary[0] = 10

TypeError: 'tuple' object does not support item assignment

In [85]:
salary.count(1000)

1

In [86]:
salary.index(3000)

2

### Sets

In [87]:
# Collection of unordered unique data
created using {}

SyntaxError: invalid syntax (<ipython-input-87-6ae143bcc9b9>, line 2)

In [88]:
s = {1,2,3,1,2,5,6}
s

{1, 2, 3, 5, 6}

In [89]:
s.add(155)
s

{1, 2, 3, 5, 6, 155}

In [90]:
a = {1,2,3,4}
b = {3,4,5}
a.intersection(b)

{3, 4}

In [91]:
a

{1, 2, 3, 4}

In [92]:
b

{3, 4, 5}

In [93]:

a.intersection_update(b)

In [94]:
a

{3, 4}

### Dictionary

In [97]:
person = ["Bhavika",20, 5.5,"B.E","White","Brown"]
person

['Bhavika', 20, 5.5, 'B.E', 'White', 'Brown']

In [98]:
person = {"name":"Bhavika","Age":20,"fav_color":"White","Eye_color":"Brown","Qual":"B.E"}
person

{'name': 'Bhavika',
 'Age': 20,
 'fav_color': 'White',
 'Eye_color': 'Brown',
 'Qual': 'B.E'}

```stores data in key value pair format
created using {}
```

In [99]:
person['name']

'Bhavika'

In [100]:
person.keys()

dict_keys(['name', 'Age', 'fav_color', 'Eye_color', 'Qual'])

In [101]:
person.values()

dict_values(['Bhavika', 20, 'White', 'Brown', 'B.E'])

In [102]:
person.items()

dict_items([('name', 'Bhavika'), ('Age', 20), ('fav_color', 'White'), ('Eye_color', 'Brown'), ('Qual', 'B.E')])

### Control Structures

#### 1. Decision making

```
if-else
elif
```

```
if expresssion:
    body of if
else:
    body of else
    ```

In [104]:
pointer = float(input("Whats your pointer? "))
if pointer >=9:
    print("Go for masters")
else:
    print("Go for job")

Whats your pointer? 8.6
Go for job

### WAP to check whether a given number is negative or positive

In [105]:
num = float(input("Enter the number? "))
if num <0:
    print(f"{num} is negative")
else:
    print(f"{num} is positive")

Enter the number? 8
8.0 is positive

In [106]:
num = float(input("Enter the number? "))
if num <0:
    print(f"{num} is negative")
elif num ==0:
    print(f"{num} is zero")
else:
    print(f"{num} is positive")

Enter the number? -1
-1.0 is negative

#### 2. Looping

```
for
while
```

In [107]:


range(10)

range(0, 10)

In [108]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [109]:
list(range(20,30))

[20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [110]:
list(range(20,40,3))

[20, 23, 26, 29, 32, 35, 38]

In [111]:
courses = ["Python","C","C++","R"]
"Java" in courses

False

In [112]:
"R" in courses

True

In [113]:
"R" not in courses

False

In [114]:
dir(courses)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [115]:
for course in courses:
    print(course)

Python
C
C++
R

In [116]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [117]:
for i,j in enumerate(courses,1):
    print(i,":",j)

1 : Python
2 : C
3 : C++
4 : R

In [118]:
count = 5
while count >0:
    print(count)
    count -= 1

5
4
3
2
1

#### break

In [119]:
students = ['a','b','c','d','e']
for student in students:
    if student == 'c':
        break
    print(f"Hello {student}")
    
print("Meeting over")

Hello a
Hello b
Meeting over

#### continue

In [120]:
students = ['a','b','c','d','e']
for student in students:
    if student == 'c':
        continue
    print(f"Hello {student}")
    
print("Meeting over")

Hello a
Hello b
Hello d
Hello e
Meeting over


```WAP
input = ['p','y','t','h','o','n']
output = python```

In [122]:
l = ['p','y','t','h','o','n']
s = ""
for i in l:
    s+=i
    
print(s)

python

In [123]:
s = "".join(l)
s

'python'

```WAP
input = python
output = ['p','y','t','h','o','n']```

In [125]:
i = 'python is great'
list(i)

['p', 'y', 't', 'h', 'o', 'n', ' ', 'i', 's', ' ', 'g', 'r', 'e', 'a', 't']

In [126]:
i.split(" ")

['python', 'is', 'great']

### WAP for password checker

In [127]:
set_pas = input("Set the password: ")
chances = 3
flag = 0
while chances>0:
    chances -= 1
    get_pas = input("Enter the password: ")
    if set_pas == get_pas:
        print("You are logged on to the system")
        flag = 1
        break
    else:
        print(f"Wrong password. You have {chances} chances left")
if flag != 1:
    print("Kindly contact the customer care")

Set the password: bhavika
Enter the password: bhavika
You are logged on to the system

### WAP that counts the occurence of each character in a text
input = 'google is awesome'
output = {'g' :2,'o':3,'l':1,'e':3,' ':2,'i':1,'a':1,'w':1,'s':1,'m':1}

In [128]:
s = input("Enter the text : ")
o = dict()
for i in s:
    if i in o.keys():
        o[i] += 1
    else:
        o[i] = 1
        
o

Enter the text : google is awesome

{'g': 2,
 'o': 3,
 'l': 1,
 'e': 3,
 ' ': 2,
 'i': 1,
 's': 2,
 'a': 1,
 'w': 1,
 'm': 1}

In [129]:
s = input("Enter the text : ")
o = dict()
for i in s:
    o[i] = s.count(i)
o

Enter the text : google

{'g': 2, 'o': 2, 'l': 1, 'e': 1}

# Functions

In [130]:
def Hello():
    print("Hello")

In [131]:
Hello()
Hello()

Hello
Hello

In [132]:
def factorial(n):
    fact = 1
    for i in range(1,n+1):
        fact *= i
    return fact

In [133]:
factorial(5)

120

In [134]:
def permutation(n,r):
    return factorial(n)/factorial(n-r)

In [135]:
permutation(10,4)

5040.0

In [136]:
def combination(n,r):
    return factorial(n)/(factorial(r)*factorial(n-r))

In [137]:
combination(10,4)

210.0

In [138]:
def add(a,b):
    return a+b

In [139]:
add(10,20)

30

In [140]:
add(10,20,30)

TypeError: add() takes 2 positional arguments but 3 were given

#### variable length arguments

In [141]:
def add(a,*args):
    for i in args:
        a += i
    return a

In [142]:
add(10,20,30)

60

In [143]:
add(10,20)

30

In [144]:
add(10,20,30,40)

100

In [145]:
add(10)

10

#### keyworded variable length args

In [146]:
def person(name,age):
    print("name is ",name)
    print("age is ",age)

In [147]:
person("nazira",28)

name is  nazira
age is  28

In [148]:
def person(**kwargs):
    print(kwargs)
person(name = "Nazira",age = 28,qual = "M.E")

{'name': 'Nazira', 'age': 28, 'qual': 'M.E'}